.maincontent {
  padding-top: 25px; 
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto;
  padding-top: 55px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box; 
}

@media (max-width: 1200px) {
  .product-list {
      grid-template-columns: repeat(3, 1fr); /* 3 products per row on medium screens */
  }
}

@media (max-width: 768px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr); /* 2 products per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .product-list {
      grid-template-columns: 1fr; /* 1 product per row on mobile */
  }
}
